#listMovies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttShow{
    border: none;
    background-color: white;
    color: black;
    text-decoration: underline;
}